<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Patua+One&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 20px;
      }

      h1 {
        text-align: center;
        font-family: "Patua One", sans-serif;
        font-size: 30px;
        margin: 2mm;
      }

      h2 {
        text-align: center;
        font-family: "Patua One", sans-serif;
        font-weight: 300;
        font-size: 24px;
      }

      .container {
        width: 50%;
        margin auto;
        background-color: #83AF9B;
        text-align: center;
        padding: 30mm;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Erreur</h1>
      <h2>Quelque chose ne s'est pas bien passé...</h2>
      <p>{{ error_message }}</p>
    </div>
  </body>
</html>
