<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
    
    <style>
      html {
        font-family: "Oswald", sans-serif;
        font-weight: 200;
        font-size: 14px;
      }

     .page {
        overflow: hidden;
        page-break-after: always;
        width: 210mm;
        height: 297mm;
        padding: 5mm;
      }

      #theReceipt {
        margin-bottom: 15px;
      }

      .section {
        height: 140mm;
        overflow: hidden;
      }

      .receipt {
        padding: 0mm 5mm 12mm 5mm;
        border: solid 1pt #666666;
        border-radius: 3px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,1)), url("../map.assets/map.png");
        background-position: center center; 
      }

      h1 {
        text-align: center;
        font-family: 'Baloo 2', cursive;
        font-size: 20px;
        margin: 2mm;
      }

      h2 {
        text-align:center;
        font-family: 'Baloo 2', cursive;
        font-weight: 300;
        font-size: 15px
      }


      table {
        margin: auto;
        width: 90%;
        border: solid 1pt #036BAE;
      }

      .stackholders, .details {
        text-align: center;
        margin-top: 5mm;
        margin-bottom: 5mm;
        border-radius: 3px;
      }

      .stackholders th {
        width: 50%;
      }

      th {
        background-color:#036BAE;
        font-family: "Oswald", sans-serif;
        color: #ffffff;
        font-weight: 300;
      }

      .disName {
        font-weight: 350;
        font-size: 1.1em;
      }

      .disAddress {
        color:#777777
      }

      .lightBold {
        font-weight: 400;
      }

      .signature {
        text-align: right;
      }
      
    </style>
  </head>
  <body>
    <div class="page" id="myPage">

      <div class="section" id="theReceipt">
        <div class="receipt">
        <h1>Quittance de loyer</h1>
        <h2>Période du {{ period.start_date }} au {{ period.end_date}}</h2>

        <table class="stackholders">
          <tr>
            <th>Le bailleur</th>
            <th>Le locataire</th>
          </tr>
          <tr>
            <td>
              <div class="disName">{{ owner.first_name }} {{ owner.last_name }}</div>
              <div class="disAddress">{{ owner.address.street_1 }}</div>
              <div class="disAddress">{{ owner.address.street_2 }}</div>
              <div class="disAddress">{{ owner.address.postal_code }} {{ owner.address.city }}</div>
            </td>
            <td>
              <div class="disName">{{ renter.first_name }} {{ renter.last_name }}</div>
              <div class="disAddress">{{ house.address.street_1 }}</div>
              <div class="disAddress">{{ house.address.street_2 }}</div>
              <div class="disAddress">{{ house.address.postal_code }} {{ house.address.city }}</div>
            </td>
          </tr>
        </table>

        <div>
          {{ owner.address.city}}, le {{ date }}
        </div>

        <div>
          <p>Je soussigné(e), <span class="lightBold">{{ owner.first_name }} {{ owner.last_name }}</span>, propriétaire du logement situé au {{ house.address.street_1 }} à {{ house.address.city }}, donné en location à <span class="lightBold">{{ renter.first_name }}
          {{ renter.last_name }}</span>, déclare avoir reçu de celui-ci à titre de loyer
          et de charges, pour la période <span class="lightBold">du {{ period.start_date }} au {{
          period.end_date }}</span>, <span class="lightBold">la somme de {{ fees.total.number }} €
          </span> ({{ fees.total.letters }}) et lui en donne
          quittance.
          </p>
          <p>
            Cette somme se répartit de la façon suivante :
            <div>
              <table class="details">
                <tr>
                  <th></th>
                  <th>Somme en toutes lettres</th>
                  <th>Somme en chiffres</th>
                </tr>
                <tr>
                  <th>Loyer principal</th>
                  <td>{{ fees.basis.letters }} </td>
                  <td>{{ fees.basis.number }} €</td>
                </tr>
                <tr>
                  <th>Provisions sur charges</th>
                  <td>{{ fees.extra.letters }} </td>
                  <td>{{ fees.extra.number }} €</td>
                </tr>
              </table>
            </div>
          </p>
        </div>

        <div class="signature">
          Le bailleur, <span class="lightBold">{{ owner.first_name }} {{ owner.last_name }}</span>
        </div>
        </div>
      </div>

    </div>
    <script>
      var itm = document.getElementById("theReceipt")
      var cln = itm.cloneNode(true);
      document.getElementById("myPage").appendChild(cln);

    </script>
  </body>
</html>
